<div class="container">
	<div class="row">
		<%= render 'books/list', book:@book,user:current_user %>
	<div class="col-xs-9"> 
		<h2>Book detail</h2>

			<table class="table">
				<tr>
					<td>
						<%= attachment_image_tag @user, :profile_image,　format: 'jpeg', fallback: "no_image.jpg", size: "60x60" %><br>
						<%=link_to @user.name ,user_path(@user)%>
					</td>
					<td>
						<%=link_to @books.title ,book_path(@books)%>
					</td>
					<td>
						<%=@books.body%>
					</td>

					<% if current_user==@user %>
						<td>
							<%= link_to "Edit" , edit_book_path(@books), class: "btn btn-success" %>
						</td>
						<td>
							<%= link_to "Destroy" ,book_path(@books) ,method: :delete , class: "btn btn-danger"  %>
						</td>
					<% end %>

					<% if @books.favorited_by?(current_user) %>
							<%= link_to book_favorites_path(@books.id), method: :delete do %>
								<span>いいね解除</span>
								<%= @books.favorites.count %>
							<% end %>
						<% else %>

							<%= link_to book_favorites_path(@books.id), method: :post do %>
								<span>いいね追加</span>
							<%= @books.favorites.count %>
							<% end %>
					<% end %>
					<i class="fa fa-comment"></i>
					<a href="#comments">コメント数 <%= @comments.count %></a>

				<% @comments.each do |comment| %>
					<li class="comment">
						<div class="comment-body bb">
								<div class="comment-avatar">
								<div class="avatar">
									<%= attachment_image_tag book_comment.user, :profile_image,　format: 'jpeg', fallback: "no_image.jpg", size: "60x60" %>
								</div>
								</div>
							<div class="comment-text">
							<div class="comment-author clearfix">
								<a href="#" class="link-author"><%= book_comment.user.name %></a>
								<span class="comment-meta">
								<span class="comment-date"><%= book_comment.created_at.strftime('%Y/%m/%d') %></span>
								</span>
							</div>
							<div class="comment-entry"><%= book_comment.comment %></div>
								<% if book_comment.user == current_user %>
									<div>
										<%= link_to "削除", book_book_comment_path(book_comment.book, book_comment), method: :delete, class: "btn btn-danger pull-right" %>
									</div>
								<% end %>
							</div>
						</div>
					</li>
				<% end %>
				</tr>
				

			</table>
			<%= form_for [@books, @book_comment] do |f| %>
				<div class="row">
					<div class="col-sm-12">
						<%= f.text_area :comment, rows:'5', class: "form-control",placeholder: "コメントをここに" %>
					</div>
				</div>
				<%= f.submit "送信する", class: "btn btn-lg btn-base-1 mt-20 pull-right" %>
			<% end %>
		</div>
	</div>
</div>


